#map{
    height: 700px;
    width: 100%;
}
body{
    margin-top: 3%;
}

h1{
    font-size:2vw;
}
li{
    margin-left: -15%;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}